@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro:wght@700&display=swap');
$color-de-contraste: #832161;
$color-suave: #FFFAFB;
$color-fuerte: #CDCDCD;
$color-experimento: #001021;
$fuente: 'Lato';
$fuente-fuerte:'Source Code Pro', monospace;